In [ ]:
#Importing Libraries
import pandas as pd
import numpy as np

In [ ]:
#Uploading data set
cars_df = pd.read_csv('.ipynb_checkpoints/CarsDatasets2025.csv',encoding="ISO-8859-1")

NameError: name 'pd' is not defined

In [21]:
cars_df.head()

,Company Names,Cars Names,Engines,CC/Battery Capacity,HorsePower,Total Speed,Performance(0 - 100 )KM/H,Cars Prices,Fuel Types,Seats,Torque
0,FERRARI,SF90 STRADALE,V8,3990 cc,963 hp,340 km/h,2.5 sec,"$1,100,000",plug in hyrbrid,2,800 Nm
1,ROLLS ROYCE,PHANTOM,V12,6749 cc,563 hp,250 km/h,5.3 sec,"$460,000",Petrol,5,900 Nm
2,Ford,KA+,1.2L Petrol,"1,200 cc",70-85 hp,165 km/h,10.5 sec,"$12,000-$15,000",Petrol,5,100 - 140 Nm
3,MERCEDES,GT 63 S,V8,"3,982 cc",630 hp,250 km/h,3.2 sec,"$161,000",Petrol,4,900 Nm
4,AUDI,AUDI R8 Gt,V10,"5,204 cc",602 hp,320 km/h,3.6 sec,"$253,290",Petrol,2,560 Nm

In [22]:
cars_df.tail()

,Company Names,Cars Names,Engines,CC/Battery Capacity,HorsePower,Total Speed,Performance(0 - 100 )KM/H,Cars Prices,Fuel Types,Seats,Torque
1213,Toyota,Crown Signia,2.5L Hybrid I4,2487 cc,240 hp,180 km/h,7.6 sec,"$43,590 - $48,000",Hybrid (Gas + Electric),5,239 Nm
1214,Toyota,4Runner (6th Gen),2.4L Turbo I4 (i-FORCE MAX Hybrid),2393 cc + Battery,326 hp,180 km/h,6.8 sec,"$50,000",Hybrid,7,630 Nm
1215,Toyota,Corolla Cross,2.0L Gas / 2.0L Hybrid,1987 cc / Hybrid batt,169 - 196 hp,190 km/h,8.0 - 9.2 sec,"$25,210 - $29,135",Gas / Hybrid,5,190 - 210 Nm
1216,Toyota,C-HR+,1.8L / 2.0L Hybrid,1798 / 1987 cc + batt,140 - 198 hp,180 km/h,7.9 - 10.5 sec,"$33,000",Hybrid,5,190 - 205 Nm
1217,Toyota,RAV4 (6th Gen),2.5L Hybrid / Plug-in Hybrid,2487 cc + batt,219 - 302 hp,200 km/h,6.0 - 8.1 sec,"$29,000 - $43,000",Hybrid / Plug-in,5,221 - 400 Nm

In [23]:
cars_df.shape

(1218, 11)

In [ ]:
#Analyzing null values at the initial point
cars_df.isna().sum()

Company Names                0
Cars Names                   0
Engines                      0
CC/Battery Capacity          3
HorsePower                   0
Total Speed                  0
Performance(0 - 100 )KM/H    6
Cars Prices                  0
Fuel Types                   0
Seats                        0
Torque                       1
dtype: int64

In [ ]:
#Duplicating Data frame for reuserbility
carsCopy1_df = cars_df.copy()

In [ ]:
#Dropping Rows with missing values using the duplicated dataframe
cleanCarsCopy1_df = carsCopy1_df.dropna()
print(cleanCarsCopy1_df)

     Company Names         Cars Names                             Engines  \
0          FERRARI      SF90 STRADALE                                  V8
1      ROLLS ROYCE            PHANTOM                                 V12
2             Ford                KA+                         1.2L Petrol
3         MERCEDES            GT 63 S                                  V8
4             AUDI         AUDI R8 Gt                                 V10
...            ...                ...                                 ...
1213        Toyota       Crown Signia                      2.5L Hybrid I4
1214        Toyota  4Runner (6th Gen)  2.4L Turbo I4 (i-FORCE MAX Hybrid)
1215        Toyota      Corolla Cross              2.0L Gas / 2.0L Hybrid
1216        Toyota             C-HR+                   1.8L / 2.0L Hybrid
1217        Toyota     RAV4 (6th Gen)        2.5L Hybrid / Plug-in Hybrid

        CC/Battery Capacity    HorsePower Total Speed  \
0                   3990 cc        963 hp    340 km/h
1                   6749 cc        563 hp    250 km/h
2                  1,200 cc      70-85 hp    165 km/h
3                  3,982 cc        630 hp    250 km/h
4                  5,204 cc        602 hp    320 km/h
...                     ...           ...         ...
1213                2487 cc        240 hp    180 km/h
1214      2393 cc + Battery        326 hp    180 km/h
1215  1987 cc / Hybrid batt  169 - 196 hp    190 km/h
1216  1798 / 1987 cc + batt  140 - 198 hp    180 km/h
1217         2487 cc + batt  219 - 302 hp    200 km/h

     Performance(0 - 100 )KM/H        Cars Prices               Fuel Types  \
0                      2.5 sec        $1,100,000           plug in hyrbrid
1                      5.3 sec          $460,000                    Petrol
2                     10.5 sec    $12,000-$15,000                   Petrol
3                      3.2 sec          $161,000                    Petrol
4                      3.6 sec          $253,290                    Petrol
...                        ...                ...                      ...
1213                   7.6 sec  $43,590 - $48,000  Hybrid (Gas + Electric)
1214                   6.8 sec           $50,000                    Hybrid
1215             8.0 - 9.2 sec  $25,210 - $29,135             Gas / Hybrid
1216            7.9 - 10.5 sec           $33,000                    Hybrid
1217             6.0 - 8.1 sec  $29,000 - $43,000         Hybrid / Plug-in

     Seats        Torque
0        2        800 Nm
1        5        900 Nm
2        5  100 - 140 Nm
3        4        900 Nm
4        2        560 Nm
...    ...           ...
1213     5        239 Nm
1214     7        630 Nm
1215     5  190 - 210 Nm
1216     5  190 - 205 Nm
1217     5  221 - 400 Nm

[1210 rows x 11 columns]

In [27]:
cleanCarsCopy1_df.shape

(1210, 11)

In [ ]:
#First Version output
cleanCarsCopy1_df.to_csv("output_cleanCarsCopy1.csv", index=False)

In [ ]:
#Duplicating the Dataframe
Copy1cleanCarsCopy1_df = cleanCarsCopy1_df.copy()

In [ ]:
#Removing Multivalued instances from Fuel Types column
# 1. List of values you want to remove
values_to_remove = ['Diesel/Petrol', 'Petrol/Diesel', 'Petrol, Diesel']

# 2. Create a boolean mask to identify rows with these values
mask = Copy1cleanCarsCopy1_df['Fuel Types'].isin(values_to_remove)

# 3. Use the inverted mask (~) to keep only the rows that DO NOT match
df_cleaned = Copy1cleanCarsCopy1_df[~mask]

In [34]:
df_cleaned.shape

(1187, 11)

In [ ]:
#Version output
df_cleaned.to_csv("output_no petrol diesel_df_cleaned.csv", index=False)

In [ ]:
#Duplicating Data Frame
Copy2cleanCarsCopy1_df = df_cleaned.copy()

In [ ]:
#Generalizing multiple incetances of hybrid
values_to_replace = ['plug in hyrbrid', 'Plug-in Hybrid', 'Petrol/Hybrid','Petrol/EV', 'Hybrid/Electric', 'Hybrid (Petrol)','Diesel Hybrid', 'Hybrid (Gas + Electric)', 'Gas / Hybrid', 'Hybrid / Plug-in', 'Hybrid/Petrol', 'Petrol (Hybrid)', 'Petrol, Hybrid']

#1. Create a boolean mask to identify rows with these values
mask = Copy2cleanCarsCopy1_df['Fuel Types'].isin(values_to_replace)

#2. Replacing values in the mask
Copy2cleanCarsCopy1_df.loc[mask, 'Fuel Types'] = 'Hybrid'

In [ ]:

#Version output
Copy2cleanCarsCopy1_df.to_csv("output_no_many_HB_df_cleaned.csv", index=False)

In [ ]:
#Handelling CNG/Petrol in Fuel Type
values_to_replace_CNG = ['CNG/Petrol']

#1. Create a boolean mask to identify rows with these values
mask = Copy2cleanCarsCopy1_df['Fuel Types'].isin(values_to_replace_CNG)

#2. Replacing values within the mask
Copy2cleanCarsCopy1_df.loc[mask, 'Fuel Types'] = 'CNG'

In [ ]:
#Handelling Petrol/AWD in Fuel Type
values_to_replace_AWD = ['Petrol/AWD']

#1. Create a boolean mask to identify rows with these values
mask = Copy2cleanCarsCopy1_df['Fuel Types'].isin(values_to_replace_AWD)

#2. Replacing values within the mask
Copy2cleanCarsCopy1_df.loc[mask, 'Fuel Types'] = 'Petrol'

In [ ]:
#Version Output
Copy2cleanCarsCopy1_df.to_csv("output_no_many_HB_CNG_AWD_df_cleaned.csv", index=False)

In [ ]:
#Duplicating Data Frame
LatestCopy2cleanCarsCopy1_df = Copy2cleanCarsCopy1_df.copy()

In [ ]:
#Removing Individual instances with misinformation
Copy3cleanCarsCopy1_df = Copy2cleanCarsCopy1_df[Copy2cleanCarsCopy1_df['Cars Names'] != 'Jaguar F-PACE']

In [ ]:
#Removing Individual instances with misinformation
Copy4cleanCarsCopy1_df = Copy3cleanCarsCopy1_df[Copy3cleanCarsCopy1_df['Cars Names'] != 'F-350 Super Duty']

In [ ]:
#Removing Individual instances with misinformation
Copy5cleanCarsCopy1_df = Copy4cleanCarsCopy1_df[Copy4cleanCarsCopy1_df['Cars Names'] != 'Maverick']

In [ ]:
#Removing Individual instances with misinformation
Copy6cleanCarsCopy1_df = Copy5cleanCarsCopy1_df[Copy5cleanCarsCopy1_df['Cars Names'] != 'Mustang Mach-E']

In [ ]:
#Removing Individual instances with misinformation
Copy7cleanCarsCopy1_df = Copy6cleanCarsCopy1_df[Copy6cleanCarsCopy1_df['Cars Names'] != 'Colt']

In [ ]:
#Removing Individual instances with misinformation
Copy8cleanCarsCopy1_df = Copy7cleanCarsCopy1_df[Copy7cleanCarsCopy1_df['Cars Names'] != 'C-HR+ ']

In [64]:
Copy8cleanCarsCopy1_df.shape

(1181, 11)

In [ ]:
#Version Output
Copy8cleanCarsCopy1_df.to_csv("output_sec_multi_r_df_cleaned.csv", index=False)

In [ ]:
#Duplicating the data frame
NewCopy8cleanCarsCopy1_df = Copy8cleanCarsCopy1_df.copy()

In [ ]:
#Removing Equational phrases in Seats
values_to_replace_seat = ['2+2']

#1. Create a boolean mask to identify rows with these values
mask = NewCopy8cleanCarsCopy1_df['Seats'].isin(values_to_replace_seat)

#2. Replacing values to mask when true
NewCopy8cleanCarsCopy1_df.loc[mask, 'Seats'] = '4'

In [ ]:
#Version Output
NewCopy8cleanCarsCopy1_df.to_csv("output_sec_multi_r_seat_df_cleaned.csv", index=False)

In [ ]:
#Removing Instances contains misinformation
NewCopy9cleanCarsCopy1_df = NewCopy8cleanCarsCopy1_df[NewCopy8cleanCarsCopy1_df['Cars Names'] != 'Corolla Cross']

In [ ]:
#Removing Instance contains misinformation
NewCopy10cleanCarsCopy1_df = NewCopy9cleanCarsCopy1_df[NewCopy9cleanCarsCopy1_df['Cars Names'] != 'RAV4 (6th Gen)']

In [73]:
NewCopy10cleanCarsCopy1_df.shape

(1179, 11)

In [ ]:
#Duplicating Data Frame
NewCopy11cleanCarsCopy1_df = NewCopy10cleanCarsCopy1_df.copy()

In [ ]:
#Removing records with symbols in CC/Battery Capacity
pattern = r'[/\\+-]'
rows_to_remove = NewCopy11cleanCarsCopy1_df['CC/Battery Capacity'].str.contains(pattern, na=False, regex=True)
df_cleaned_NewCopy11cleanCarsCopy1 = NewCopy11cleanCarsCopy1_df[~rows_to_remove]

In [79]:
df_cleaned_NewCopy11cleanCarsCopy1.shape

(1110, 11)

In [ ]:
#Version Output
df_cleaned_NewCopy11cleanCarsCopy1.to_csv("output_CC_cleaned_df_cleaned.csv", index=False)

In [ ]:
#Duplicating Data Frame
NewCopy12cleanCarsCopy1_df= df_cleaned_NewCopy11cleanCarsCopy1.copy()

In [ ]:
#Replacing values that contains symbols
pattern = r'\s*\(.*\)'

NewCopy12cleanCarsCopy1_df['CC/Battery Capacity'] = NewCopy12cleanCarsCopy1_df['CC/Battery Capacity'].str.replace(pattern, '', regex=True).str.strip()

In [ ]:
#Version Output
NewCopy12cleanCarsCopy1_df.to_csv("output_cc_brkt_removed_df_cleaned.csv", index=False)

In [ ]:
#Duplicating Data Frame
NewCopy13cleanCarsCopy1_df = NewCopy12cleanCarsCopy1_df.copy()

In [ ]:
#Removing Electic records in Fuel Types
NoEVcleanCarsCopy1_df = NewCopy13cleanCarsCopy1_df[NewCopy13cleanCarsCopy1_df['Fuel Types'] != 'Electric']

In [88]:
NoEVcleanCarsCopy1_df.shape

(1020, 11)

In [ ]:
#Version Output
NoEVcleanCarsCopy1_df.to_csv("NoEVcleanCarsCopy1_df.csv", index=False)

In [ ]:
#Duplicating Data frame
NewCopy14cleanCarsCopy1_df = NoEVcleanCarsCopy1_df.copy()

In [ ]:
# Convert to string before using .str accessor
is_range = NewCopy14cleanCarsCopy1_df['Cars Prices'].astype(str).str.contains('-', na=False)

#Removing $ sign and averaging the range values in car prices
if is_range.any():
    
    ranges = NewCopy14cleanCarsCopy1_df.loc[is_range, 'Cars Prices']
    
    cleaned_ranges = ranges.str.replace('[$,]', '', regex=True)
    
    split_values = cleaned_ranges.str.split('-', expand=True)
    
    low_price = pd.to_numeric(split_values[0])
    high_price = pd.to_numeric(split_values[1])
    
    NewCopy14cleanCarsCopy1_df.loc[is_range, 'Cars Prices'] = (low_price + high_price) / 2


# Final cleanup for non-range values and converting the column to a number
NewCopy14cleanCarsCopy1_df['Cars Prices'] = pd.to_numeric(
    NewCopy14cleanCarsCopy1_df['Cars Prices'].astype(str).str.replace('[$,]', '', regex=True)
)

In [ ]:
#Version Output
NewCopy14cleanCarsCopy1_df.to_csv("NewCopy14cleanCarsCopy1_df.csv", index=False)

In [ ]:
#Replacing symbols with blanks
pattern = r'\s*\(.*\)'

NewCopy14cleanCarsCopy1_df['Torque'] = NewCopy14cleanCarsCopy1_df['Torque'].str.replace(pattern, '', regex=True).str.strip()

In [ ]:
#Version output
NewCopy14cleanCarsCopy1_df.to_csv("NewCopy14cleanCarsCopy1_df.csv", index=False)

In [ ]:
#Identifying records with '-' or ranged values
is_range = NewCopy14cleanCarsCopy1_df['Torque'].astype(str).str.contains('-', na=False)

#Removing Nm and averaging ranged values
if is_range.any():
    
    ranges = NewCopy14cleanCarsCopy1_df.loc[is_range, 'Torque']
    
    cleaned_ranges = ranges.str.replace('[Nm,]', '', regex=True)
    
    split_values = cleaned_ranges.str.split('-', expand=True)
    
    low_price = pd.to_numeric(split_values[0])
    high_price = pd.to_numeric(split_values[1])
    
    NewCopy14cleanCarsCopy1_df.loc[is_range, 'Torque'] = (low_price + high_price) / 2


# Final cleanup for non-range values and converting the column to a number
NewCopy14cleanCarsCopy1_df['Torque'] = pd.to_numeric(
    NewCopy14cleanCarsCopy1_df['Torque'].astype(str).str.replace('[Nm,]', '', regex=True)
)

In [ ]:
#Version Output
NewCopy14cleanCarsCopy1_df.to_csv("NewCopy14cleanCarsCopy1_df.csv", index=False)

In [ ]:
#Renaming column to Performance
NewCopy14cleanCarsCopy1_df.rename(columns={'Performance(0 - 100 )KM/H': 'Performance'}, inplace=True)


# Define a regex pattern to find the first number (integer or float)
pattern = r'(\d+\.?\d*)'

# Extract the first number found in each string
NewCopy14cleanCarsCopy1_df['Performance'] = NewCopy14cleanCarsCopy1_df['Performance'].astype(str).str.extract(pattern, expand=False)

# Convert the extracted numbers to a numeric type
NewCopy14cleanCarsCopy1_df['Performance'] = pd.to_numeric(NewCopy14cleanCarsCopy1_df['Performance'], errors='coerce')

In [ ]:
#Removing kmh from top speed values
NewCopy14cleanCarsCopy1_df['Total Speed'] = NewCopy14cleanCarsCopy1_df['Total Speed'].astype(str).str.replace(' km/h', '', regex=False)

#Convert the cleaned column to a numeric type (integer or float)
NewCopy14cleanCarsCopy1_df['Total Speed'] = pd.to_numeric(NewCopy14cleanCarsCopy1_df['Total Speed'])

In [ ]:
#Removing hp and averaging ranges
is_range_mask = NewCopy14cleanCarsCopy1_df['HorsePower'].astype(str).str.contains('-', na=False)

if is_range_mask.any():
    # Define a pattern to extract the two numbers around a hyphen
    pattern = r'(\d+\.?\d*)\s*-\s*(\d+\.?\d*)'
    
    extracted_numbers = NewCopy14cleanCarsCopy1_df.loc[is_range_mask, 'HorsePower'].str.extract(pattern, expand=True)
    
    # Convert the extracted strings to numbers
    num1 = pd.to_numeric(extracted_numbers[0], errors='coerce')
    num2 = pd.to_numeric(extracted_numbers[1], errors='coerce')
    
    # Calculate the mean and assign it back to the original DataFrame
    # This is the key step for in-place modification
    NewCopy14cleanCarsCopy1_df.loc[is_range_mask, 'HorsePower'] = pd.DataFrame({'num1': num1, 'num2': num2}).mean(axis=1)


if (~is_range_mask).any():
    NewCopy14cleanCarsCopy1_df.loc[~is_range_mask, 'HorsePower'] = NewCopy14cleanCarsCopy1_df.loc[~is_range_mask, 'HorsePower'].astype(str).str.replace('hp', '', case=False).str.strip()


NewCopy14cleanCarsCopy1_df['HorsePower'] = pd.to_numeric(NewCopy14cleanCarsCopy1_df['HorsePower'])

C:\Users\acer\AppData\Local\Temp\ipykernel_8160\3555136103.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['963.0' '563.0' 'nan' ... '200.0' '700.0' '240.0']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  NewCopy14cleanCarsCopy1_df.loc[~is_range, 'HorsePower'] = NewCopy14cleanCarsCopy1_df.loc[~is_range, 'HorsePower'].astype(str).str.replace('hp', '', case=False).str.strip()

In [ ]:
#Version Output
NewCopy14cleanCarsCopy1_df.to_csv("NewCopy14cleanCarsCopy1_df.csv", index=False)