In [1]:
import pandas as pd
import numpy as np

In [20]:
cars_df = pd.read_csv('.ipynb_checkpoints/CarsDatasets2025.csv',encoding="ISO-8859-1")

In [21]:
cars_df.head()

,Company Names,Cars Names,Engines,CC/Battery Capacity,HorsePower,Total Speed,Performance(0 - 100 )KM/H,Cars Prices,Fuel Types,Seats,Torque
0,FERRARI,SF90 STRADALE,V8,3990 cc,963 hp,340 km/h,2.5 sec,"$1,100,000",plug in hyrbrid,2,800 Nm
1,ROLLS ROYCE,PHANTOM,V12,6749 cc,563 hp,250 km/h,5.3 sec,"$460,000",Petrol,5,900 Nm
2,Ford,KA+,1.2L Petrol,"1,200 cc",70-85 hp,165 km/h,10.5 sec,"$12,000-$15,000",Petrol,5,100 - 140 Nm
3,MERCEDES,GT 63 S,V8,"3,982 cc",630 hp,250 km/h,3.2 sec,"$161,000",Petrol,4,900 Nm
4,AUDI,AUDI R8 Gt,V10,"5,204 cc",602 hp,320 km/h,3.6 sec,"$253,290",Petrol,2,560 Nm

In [22]:
cars_df.tail()

,Company Names,Cars Names,Engines,CC/Battery Capacity,HorsePower,Total Speed,Performance(0 - 100 )KM/H,Cars Prices,Fuel Types,Seats,Torque
1213,Toyota,Crown Signia,2.5L Hybrid I4,2487 cc,240 hp,180 km/h,7.6 sec,"$43,590 - $48,000",Hybrid (Gas + Electric),5,239 Nm
1214,Toyota,4Runner (6th Gen),2.4L Turbo I4 (i-FORCE MAX Hybrid),2393 cc + Battery,326 hp,180 km/h,6.8 sec,"$50,000",Hybrid,7,630 Nm
1215,Toyota,Corolla Cross,2.0L Gas / 2.0L Hybrid,1987 cc / Hybrid batt,169 - 196 hp,190 km/h,8.0 - 9.2 sec,"$25,210 - $29,135",Gas / Hybrid,5,190 - 210 Nm
1216,Toyota,C-HR+,1.8L / 2.0L Hybrid,1798 / 1987 cc + batt,140 - 198 hp,180 km/h,7.9 - 10.5 sec,"$33,000",Hybrid,5,190 - 205 Nm
1217,Toyota,RAV4 (6th Gen),2.5L Hybrid / Plug-in Hybrid,2487 cc + batt,219 - 302 hp,200 km/h,6.0 - 8.1 sec,"$29,000 - $43,000",Hybrid / Plug-in,5,221 - 400 Nm

In [23]:
cars_df.shape

(1218, 11)

In [24]:
cars_df.isna().sum()

Company Names                0
Cars Names                   0
Engines                      0
CC/Battery Capacity          3
HorsePower                   0
Total Speed                  0
Performance(0 - 100 )KM/H    6
Cars Prices                  0
Fuel Types                   0
Seats                        0
Torque                       1
dtype: int64

In [25]:
carsCopy1_df = cars_df.copy()

In [26]:
cleanCarsCopy1_df = carsCopy1_df.dropna()
print(cleanCarsCopy1_df)

     Company Names         Cars Names                             Engines  \
0          FERRARI      SF90 STRADALE                                  V8
1      ROLLS ROYCE            PHANTOM                                 V12
2             Ford                KA+                         1.2L Petrol
3         MERCEDES            GT 63 S                                  V8
4             AUDI         AUDI R8 Gt                                 V10
...            ...                ...                                 ...
1213        Toyota       Crown Signia                      2.5L Hybrid I4
1214        Toyota  4Runner (6th Gen)  2.4L Turbo I4 (i-FORCE MAX Hybrid)
1215        Toyota      Corolla Cross              2.0L Gas / 2.0L Hybrid
1216        Toyota             C-HR+                   1.8L / 2.0L Hybrid
1217        Toyota     RAV4 (6th Gen)        2.5L Hybrid / Plug-in Hybrid

        CC/Battery Capacity    HorsePower Total Speed  \
0                   3990 cc        963 hp    340 km/h
1                   6749 cc        563 hp    250 km/h
2                  1,200 cc      70-85 hp    165 km/h
3                  3,982 cc        630 hp    250 km/h
4                  5,204 cc        602 hp    320 km/h
...                     ...           ...         ...
1213                2487 cc        240 hp    180 km/h
1214      2393 cc + Battery        326 hp    180 km/h
1215  1987 cc / Hybrid batt  169 - 196 hp    190 km/h
1216  1798 / 1987 cc + batt  140 - 198 hp    180 km/h
1217         2487 cc + batt  219 - 302 hp    200 km/h

     Performance(0 - 100 )KM/H        Cars Prices               Fuel Types  \
0                      2.5 sec        $1,100,000           plug in hyrbrid
1                      5.3 sec          $460,000                    Petrol
2                     10.5 sec    $12,000-$15,000                   Petrol
3                      3.2 sec          $161,000                    Petrol
4                      3.6 sec          $253,290                    Petrol
...                        ...                ...                      ...
1213                   7.6 sec  $43,590 - $48,000  Hybrid (Gas + Electric)
1214                   6.8 sec           $50,000                    Hybrid
1215             8.0 - 9.2 sec  $25,210 - $29,135             Gas / Hybrid
1216            7.9 - 10.5 sec           $33,000                    Hybrid
1217             6.0 - 8.1 sec  $29,000 - $43,000         Hybrid / Plug-in

     Seats        Torque
0        2        800 Nm
1        5        900 Nm
2        5  100 - 140 Nm
3        4        900 Nm
4        2        560 Nm
...    ...           ...
1213     5        239 Nm
1214     7        630 Nm
1215     5  190 - 210 Nm
1216     5  190 - 205 Nm
1217     5  221 - 400 Nm

[1210 rows x 11 columns]

In [27]:
cleanCarsCopy1_df.shape

(1210, 11)

In [28]:
cleanCarsCopy1_df.to_csv("output_cleanCarsCopy1.csv", index=False)

In [30]:
Copy1cleanCarsCopy1_df = cleanCarsCopy1_df.copy()

In [32]:
# 2. List of values you want to remove
values_to_remove = ['Diesel/Petrol', 'Petrol/Diesel', 'Petrol, Diesel']

# 3. Create a boolean mask to identify rows with these values
mask = Copy1cleanCarsCopy1_df['Fuel Types'].isin(values_to_remove)

# 4. Use the inverted mask (~) to keep only the rows that DO NOT match
df_cleaned = Copy1cleanCarsCopy1_df[~mask]

In [34]:
df_cleaned.shape

(1187, 11)

In [35]:
df_cleaned.to_csv("output_no petrol diesel_df_cleaned.csv", index=False)

In [36]:
Copy2cleanCarsCopy1_df = df_cleaned.copy()

In [40]:
values_to_replace = ['plug in hyrbrid', 'Plug-in Hybrid', 'Petrol/Hybrid','Petrol/EV', 'Hybrid/Electric', 'Hybrid (Petrol)','Diesel Hybrid', 'Hybrid (Gas + Electric)', 'Gas / Hybrid', 'Hybrid / Plug-in', 'Hybrid/Petrol', 'Petrol (Hybrid)', 'Petrol, Hybrid']

# 3. Create a boolean mask to identify rows with these values
mask = Copy2cleanCarsCopy1_df['Fuel Types'].isin(values_to_replace)

Copy2cleanCarsCopy1_df.loc[mask, 'Fuel Types'] = 'Hybrid'

In [42]:

Copy2cleanCarsCopy1_df.to_csv("output_no_many_HB_df_cleaned.csv", index=False)

In [43]:
values_to_replace_CNG = ['CNG/Petrol']

# 3. Create a boolean mask to identify rows with these values
mask = Copy2cleanCarsCopy1_df['Fuel Types'].isin(values_to_replace_CNG)

Copy2cleanCarsCopy1_df.loc[mask, 'Fuel Types'] = 'CNG'

In [44]:
values_to_replace_AWD = ['Petrol/AWD']

# 3. Create a boolean mask to identify rows with these values
mask = Copy2cleanCarsCopy1_df['Fuel Types'].isin(values_to_replace_AWD)

Copy2cleanCarsCopy1_df.loc[mask, 'Fuel Types'] = 'Petrol'

In [45]:
Copy2cleanCarsCopy1_df.to_csv("output_no_many_HB_CNG_AWD_df_cleaned.csv", index=False)